/*Estilos del proyecto*/

main {
   background-image: url("../assets/images/playa2.jpeg");
   background-size:cover;
   background-repeat: no-repeat;
   width: 100%;
   min-height: 800px;
} 
.mt-6 {
    margin-top: 4rem;
}
.mt-7 {
    margin-top: 1rem; 
}
/* Colores del contador */
.color1 {
    color:rgb(228, 58, 228);
}
.color2 {
    color:rgb(114, 209, 36);
}

.color3 {
    color: blue;
}

@media only screen and (min-width: 992px) {
    .mt-6 {
        margin-top: 5rem;
    }

}

